@tailwind base;
@tailwind components;
@tailwind utilities;

/* --- Fontes Customizadas (Blockstream Theme) --- */
/* Certifique-se que os arquivos estão na pasta public/fonts */

@font-face {
  font-family: 'Rigid Square';
  src: url('/fonts/Rigid_Square_Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Rigid Square';
  src: url('/fonts/Rigid_Square_Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

/* Estilos Globais */
body {
  background-color: #050505; /* bg-bs-black */
  color: white;
  font-family: 'Inter', sans-serif;
}